<div class="row">
	<div class="col-md-12">
		<h2>Pengaturan Akun</h2>
		<br>
		<form class="form-horizontal col-md-5">

			<!-- <span ng-show="temp_akun.role != 'Donatur'"> -->
			<div class="form-group">
				<label class="control-label col-md-3">
					Nama Lengkap*
				</label>
				<div class="col-md-9">
					<input class="form-control" type="text" ng-model="temp_akun.nama">
				</div>
			</div>
			<div ng-show="(temp_akun.role == 'Donatur')&&((temp_donatur.jenis == 'Alumni Individu')||(temp_donatur.jenis == 'Alumni Program Studi'))" class="form-group">
				<label class="control-label col-md-3">Nama Program Studi*</label>
				<div class="col-md-9">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							{{(nama_prodi=="")?"Pilih Program Studi ":nama_prodi}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li role="presentation">
								<div class="col-md-12">
									<input type="text" class="form-control" placeholder="cari prodi..." ng-model="q_prodi">
								</div>
							</li>
							<li role="separator" class="divider"></li>
							<li ng-repeat="pro in prodis | filter:q_prodi"><a href="" ng-click="set_tprodi(pro.kepanjangan, pro.id)">{{pro.kepanjangan}} ({{pro.kode}})</a></li>
						</ul>
					</div>
					<script type="text/javascript">
						$('.dropdown-menu').find('input').click(function (e) {
							e.stopPropagation();
						});
					</script>
				</div>
			</div>
			<div class="form-group" ng-show="(temp_donatur.jenis == 'Alumni Individu')||(temp_donatur.jenis == 'Alumni Program Studi')||(temp_donatur.jenis == 'Alumni Satu ITB')">
				<label class="control-label col-md-3">
					Angkatan*
				</label>
				<div class="col-md-9">
					<input class="form-control" type="text" ng-model="temp_donatur.angkatan">
				</div>
			</div>
			<div class="form-group" ng-show="(temp_donatur.jenis == 'Organisasi ITB')||(temp_donatur.jenis == 'Alumni Program Studi')||(temp_donatur.jenis == 'Alumni Satu ITB')||(temp_donatur.jenis == 'Organisasi Non-ITB')">
				<label class="control-label col-md-3">
					Nama Perwakilan
				</label>
				<div class="col-md-9">
					<input class="form-control" type="text" ng-model="temp_donatur.nama_wakil">
				</div>
			</div>
			<div class="form-group" ng-show="temp_akun.role != 'Donatur'">
				<label class="control-label col-md-3">
					Jabatan
				</label>
				<div class="col-md-9">
					<input class="form-control" type="text" ng-model="temp_akun.jabatan">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3">
					Telepon*
				</label>
				<div class="col-md-9">
					<input class="form-control" type="text" ng-model="temp_akun.telp">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3">
					Alamat*
				</label>
				<div class="col-md-9">
					<textarea class="form-control" ng-model="temp_akun.alamat" rows="3"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3">
					<!-- KOSONG -->
				</label>
				<div class="col-md-9">
					<!-- KOSONG -->
				</div>
			</div>
			<!-- </span> -->

			<div class="form-group">
				<label class="control-label col-md-3">
					E-mail*
				</label>
				<div class="col-md-9">
					<input class="form-control" type="text" ng-model="temp_akun.email">
				</div>
			</div>

			<span ng-show="is_editpwd">
			<div class="form-group">
				<label class="control-label col-md-3">
					Password*
				</label>
				<div class="col-md-9">
					<input class="form-control" type="password" ng-model="temp_akun.password">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3">
					Tulis Kembali Password*
				</label>
				<div class="col-md-9">
					<input class="form-control" type="password" ng-model="repassword">
					<span>{{(repassword === temp_akun.password)?"Benar":"Tidak sama"}}</span>
				</div>
			</div>
			</span>

			<div class="form-group">
				<label class="control-label col-md-3">
					<!-- TOMBOL-TOMBOL -->
				</label>
				<div class="col-md-9">
					<button class="btn btn-success" ng-click="edit_akun()">Simpan</button>
					<button class="btn btn-primary" ng-show="!is_editpwd" ng-click="is_editpwd=true">Reset Password</button>
					<button class="btn btn-warning" ng-show="is_editpwd" ng-click="temp_akun.password=''; repassword=''; is_editpwd=false">Batal Reset Password</button>
					<p ng-show="is_saving"><i class="fa fa-spinner fa-pulse fa-2x"></i> Loading...</p>
				</div>
			</div>
		</form>

	</div>
</div>