<div class="row">
	<div class="col-md-12">
		<h1 class="text-center">DASHBOARD SI ENDOWMENT FUND</h1>
	</div>
</div>

<div class="row" style="margin-top: 50px" ng-show="user_aktif.role != 'Donatur'">
	<div class="col-md-12">
		<div class="col-md-12 well">
			<h3 class="text-center">Endowment Fund per Tahun</h3>

			<div class="col-md-12" style="margin: 20px 0px">
				<form class="form-inline">
					
					<label>Tahun Maks.</label>
					<input class="form-control" type="number" ng-model="max_ei" ng-blur="set_tahun('ei', max_ei)" ng-init="max_ei=2015">
				</form>
			</div>

			<div class="col-md-12">
				<highchart config="chart_ei" style="height: 500px">
				</highchart>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-show="user_aktif.role != 'Donatur'">
	<div class="col-md-6">
		<div class="col-md-12 well">
			<h3 class="text-center">Endowment Fund Tak Bersyarat</h3>
			
			<div class="col-md-12" style="margin: 20px 0px">
				<form class="form-inline">
					
					<label>Tahun Maks.</label>
					<input class="form-control" type="number" ng-model="max_etbi" ng-blur="set_tahun('etbi', max_etbi)" ng-init="max_etbi=2015">
				</form>
			</div>

			<div class="col-md-12">
				<highchart config="chart_etbi" style="height: 500px">
				</highchart>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-12 well">
			<h3 class="text-center">Endowment Fund Bersyarat</h3>
			
			<div class="col-md-12" style="margin: 20px 0px">
				<form class="form-inline">
					
					<label>Tahun Maks.</label>
					<input class="form-control" type="number" ng-model="max_ebi" ng-blur="set_tahun('ebi', max_ebi)" ng-init="max_ebi=2015">
				</form>
			</div>

			<div class="col-md-12">
				<highchart config="chart_ebi" style="height: 500px">
				</highchart>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-show="user_aktif.role != 'Donatur'">
	<div class="col-md-6">
		<div class="col-md-12 well">
			<h3 class="text-center">Donasi Bersyarat</h3>
			
			<div class="col-md-12" style="margin: 20px 0px">
				<form class="form-inline">
					
					<label>Tahun Maks.</label>
					<input class="form-control" type="number" ng-model="max_dbi" ng-blur="set_tahun('dbi', max_dbi)" ng-init="max_dbi=2015">
				</form>
			</div>

			<div class="col-md-12">
				<highchart config="chart_dbi" style="height: 500px">
				</highchart>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-12 well">
			<h3 class="text-center">Jumlah Donatur</h3>
			
			<div class="col-md-12" style="margin: 20px 0px">
				<form class="form-inline">
					
					<label>Tahun Maks.</label>
					<input class="form-control" type="number" ng-model="max_jdon" ng-blur="set_tahun('jdon', max_jdon)" ng-init="max_jdon=2015">
				</form>
			</div>

			<div class="col-md-12">
				<highchart config="chart_jdon" style="height: 500px">
				</highchart>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-12 well">
			<h3 class="text-center">Endowment Fund per Fakultas</h3>
			
			<div class="col-md-12" style="margin: 20px 0px">
				<form class="form-inline">
					<label>Tahun</label>
					<input class="form-control" type="number" ng-model="tahun_fak" ng-init="tahun_fak=2015" ng-blur="update_categorie_fp('fakultas')">
				</form>
			</div>

			<div class="col-md-12">
				<highchart config="chart_fak" style="height: 500px">
				</highchart>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-8 col-md-offset-2 well">
			<h3 class="text-center">Endowment Fund per Program Studi</h3>
			
			<div class="col-md-12" style="margin: 20px 0px">
				
				<form class="form-inline">
					<label>Tahun</label>
					<input class="form-control" type="number" ng-model="tahun_pro" ng-init="tahun_pro=2015" ng-blur="update_categorie_fp(fak_pro)">
					<label>Fakultas</label>
					<select class="form-control" ng-model="fak_pro" ng-change="update_categorie_fp(fak_pro)">
						<option value="">- Pilih Fakultas -</option>
						<option ng-repeat="fk in fakultass" value="{{fk.id}}">{{fk.singkatan}} ({{fk.kode}})</option>
					</select>
				</form>
			</div>

			<div class="col-md-12">
				<highchart config="chart_pro" style="height: 500px">
				</highchart>
			</div>
		</div>
	</div>
</div>