<div class="row">
	<div class="col-md-12">
		<h1 class="text-center" style="margin-bottom: 40px">Pengelolaan Donasi</h1>

		
		<br><br>

		<!--<table datatable="" dt-options="donasiCtrl.dtOptions" dt-columns="donasiCtrl.dtColumns" class="row-border hover"></table>-->

		<div class="row">
			<div class="col-md-2"><a href="#/tambah_donasi" class="btn btn-primary">Tambah Donasi</a></div>

			<div class="col-md-3"><input type="text" class="form-control" placeholder="filter and search" ng-model="q"></div>

			<div class="col-md-2 pull-right"><input type="number" class="form-control" ng-model="pageSize"></div>
		</div>		
		
		<table id="tabel_donasi" class="table table-bordered table-condensed" style="margin-top: 20px">
			<thead>
				<tr>
					<th class="text-center" rowspan="2">No.</th>
					<th class="text-center" rowspan="2">Tanggal</th>
					<th class="text-center" rowspan="2">Nama</th>
					<th class="text-center" rowspan="2">Jml. Donasi</th>
					<th class="text-center" rowspan="2">Termin</th>
					<th class="text-center" rowspan="2">Channel</th>
					<th colspan="3" class="text-center">Jenis</th>
					<th class="text-center" rowspan="2">Syarat</th>
					<th class="text-center" rowspan="2">Kota</th>
				</tr>
				<tr>
					<th class="text-center">Dana Lestari<br>Tidak Bersyarat</th>
					<th class="text-center">Dana Lestari<br>Bersyarat</th>
					<th class="text-center">Donasi<br>Bersyarat</th>
				</tr>
			</thead>

			<tbody>
				<tr dir-paginate="donasi in donasis | filter:q | itemsPerPage: pageSize" current-page="currentPage" current-page="currentPage">
					<td>1</td>
					<td>{{donasi.tanggal}}</td>
					<td>{{donasi.nama_donatur}}</td>
					<td class="text-right">{{donasi.nominal | currency:"Rp. "}}</td>
					<td>{{donasi.termin}}</td>
					<td>{{donasi.channel}}</td>
					<td class="text-center"><i class="{{(donasi.jenis=='Dana Lestari Tidak Bersyarat')?'glyphicon glyphicon-ok-sign':''}}"></i></td>
					<td class="text-center"><i class="{{(donasi.jenis=='Dana Lestari Bersyarat')?'glyphicon glyphicon-ok-sign':''}}"></i></td>
					<td class="text-center"><i class="{{(donasi.jenis=='Donasi Bersyarat')?'glyphicon glyphicon-ok-sign':''}}"></i></td>
					<td>{{donasi.syarat}}</td>
					<td>{{donasi.kota}}</td>
				</tr>
			</tbody>
		</table>

		<div class="row">
			<div class="col-md-12"><span>Current Page: {{currentPage}} </span></div>
			<div class="text-center col-md-12">
				<dir-pagination-controls boundary-links="true">
				</dir-pagination-controls>
			</div>
		</div>

		<div class="row" style="margin-top: 30px">
			<div class="col-md-3 well">
				<form action="donasi/import_excel" method="post" enctype="multipart/form-data">
					<label class="control-label">Upload Ms. Excel</label>
					<input type="file" class="form-control" name="excel">
					<br>
					<input type="submit" value="Import" class="btn btn-primary">
				</form>
			</div>
		</div>

	</div>
</div>
<script type="text/javascript">
	
</script>