<div class="row">
	<div class="col-md-12">
		<h1 class="text-center" style="margin-bottom: 40px">Tambah Donasi</h1>

		<form class="form-horizontal col-md-6">
			<div class="form-group" style="border-bottom: 1px solid #222222">
				<h2>Data Donatur</h2>
			</div>

			<!-- SELECT -->
			<div ng-show="!new_donatur">

			<div class="form-group">
				<label class="control-label col-md-2">Donatur*</label>
				<div class="col-md-10">
					<select ng-model="temp_donasi.id_donatur" class="form-control">
						<option value="">- Pilih Donatur -</option>
						<option ng-repeat="donatur in donaturs" value="{{donatur.id}}">{{donatur.nama}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<button class="btn btn-primary" ng-click="new_donatur = true">Donatur Baru</button>
				</div>
			</div>

			</div>

			<div ng-show="new_donatur">
			<div class="form-group">
				<label class="control-label col-md-2">Jenis*</label>
				<div class="col-md-10">
					<select ng-model="jenis_lv_1" ng-change="fresh_level1();" class="form-control">
						<option value="">- Pilih Jenis -</option>
						<option value="Personal">Personal</option>
						<option value="Alumni">Alumni</option>
						<option value="Organisasi">Organisasi</option>
					</select>
				</div>
			</div>
			<div ng-show="(jenis_lv_1 == 'Alumni')" class="form-group">
				<label class="control-label col-md-2">Jenis Alumni*</label>
				<div class="col-md-10">
					<select ng-change="fresh_level2();" ng-model="jenis_lv_2" class="form-control">
						<option value="">- Pilih Jenis Alumni -</option>
						<option value="Individu">Individu</option>
						<option value="Program Studi">Program Studi</option>
						<option value="Satu ITB">Satu ITB</option>
					</select>
				</div>
			</div>
			<div ng-show="(jenis_lv_1 == 'Organisasi')" class="form-group">
				<label class="control-label col-md-2">Jenis Organisasi*</label>
				<div class="col-md-10">
					<select ng-model="jenis_lv_2" class="form-control">
						<option value="">- Pilih Jenis Organisasi -</option>
						<option value="ITB">ITB</option>
						<option value="Non-ITB">Non-ITB</option>
					</select>
				</div>
			</div>

			<!-- ISIAN -->
			<div ng-show="((jenis_lv_1 != '')&&(jenis_lv_2 != '')&&(jenis_lv_2 != 'Satu ITB')&&(jenis_lv_2 != 'Program Studi'))||(jenis_lv_1 == 'Personal')" class="form-group">
				<label class="control-label col-md-2">Nama*</label>
				<div class="col-md-10">
					<input type="text" ng-model="nama" class="form-control" placeholder="nama {{get_nama();}}">
				</div>
			</div>
			<div ng-show="(jenis_lv_1 == 'Alumni')&&(jenis_lv_2 == 'Program Studi')" class="form-group">
				<label class="control-label col-md-2">Nama Program Studi*</label>
				<div class="col-md-10">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							{{(nama=="")?"Pilih Program Studi ":nama}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li role="presentation">
								<div class="col-md-12">
									<input type="text" class="form-control" placeholder="cari prodi..." ng-model="q_prodi">
								</div>
							</li>
							<li role="separator" class="divider"></li>
							<li ng-repeat="pro in prodis | filter:q_prodi"><a href="" ng-click="set_tprodi(pro.kepanjangan)">{{pro.kepanjangan}} ({{pro.kode}})</a></li>
						</ul>
					</div>
					<script type="text/javascript">
						$('.dropdown-menu').find('input').click(function (e) {
							e.stopPropagation();
						});
					</script>
				</div>
			</div>
			<div ng-show="(jenis_lv_1 == 'Alumni')&&(jenis_lv_2 != '')" class="form-group">
				<label class="control-label col-md-2">Angkatan<span ng-show="(jenis_lv_2 != 'Individu')">*</span></label>
				<div class="col-md-10">
					<input ng-model="angkatan" type="text" class="form-control" placeholder="angkatan">
				</div>
			</div>
			<div ng-show="((jenis_lv_1=='Organisasi')&&(jenis_lv_2 != ''))||((jenis_lv_1=='Alumni')&&(jenis_lv_2 != 'Individu')&&(jenis_lv_2 != ''))" class="form-group">
				<label class="control-label col-md-2">Nama Perwakilan</label>
				<div class="col-md-10">
					<input type="text" ng-model="temp_donatur.nama_wakil" class="form-control" placeholder="nama perwakilan">
				</div>
			</div>

			<!-- HIDDEN -->
			<div ng-show="false" class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<input type="text" class="form-control" name="jenis" placeholder="jenis" value="{{jenis_lv_1+' '+jenis_lv_2}}" readonly>
				</div>
			</div>
			<div ng-show="false" class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<input type="text" class="form-control" name="nama" placeholder="nama final" value="{{nama+' '+angkatan}}" readonly>
				</div>
			</div>


			<div class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<button class="btn btn-success" ng-click="simpan_donatur()">Simpan</button>
					<button class="btn btn-warning" ng-click="new_donatur = false">Batal</button>
					<p>*) Wajib diisi</p>
					<br><br>
					<p ng-show="is_saving"><i class="fa fa-spinner fa-pulse fa-2x"></i> Loading...</p>
				</div>
			</div>
			</div>

		</form>

		<form class="form-horizontal col-md-6">

			<div class="form-group" style="border-bottom: 1px solid #222222">
				<h2>Data Donasi</h2>
			</div>
			<div ng-show="false" class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<input type="text" value="{{temp_donasi.id_donatur}}" class="form-control" readonly>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Tanggal*</label>
				<div class="col-md-10">
					<input type="date" ng-model="temp_donasi.tanggal" class="form-control">
					<span>format: mm/dd/yyyy</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Jml. Donasi*</label>
				<div class="col-md-10">
					<input type="text" ng-model="temp_donasi.nominal" class="form-control">
					<span>{{temp_donasi.nominal | currency: "Rp. "}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Termin*</label>
				<div class="col-md-10">
					<input type="text" ng-model="temp_donasi.termin" class="form-control" placeholder="dicicil berapa kali">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Sistem Donasi*</label>
				<div class="col-md-10">
					<select ng-model="temp_donasi.channel" class="form-control">
						<option value="">- Pilih Sistem Donasi -</option>
						<option value="Cash">Cash</option>
						<option value="Non-cash">Non-cash</option>
						<option value="Cek">Cek</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Jenis*</label>
				<div class="col-md-10">
					<div class="radio">
						<label>
							<input type="radio" ng-model="temp_donasi.jenis" name="jenis" value="Dana Lestari Tidak Bersyarat" checked> Dana Lestari Tidak Bersyarat
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" ng-model="temp_donasi.jenis" name="jenis" value="Dana Lestari Bersyarat"> Dana Lestari Bersyarat
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" ng-model="temp_donasi.jenis" name="jenis" value="Donasi Bersyarat"> Donasi Bersyarat
						</label>
					</div>
				</div>
			</div>
			<div ng-show="(temp_donasi.jenis == 'Dana Lestari Bersyarat') || (temp_donasi.jenis == 'Donasi Bersyarat')" class="form-group">
				<label class="control-label col-md-2">Syarat*</label>
				<div class="col-md-10">
					<input type="text" ng-model="temp_donasi.syarat" class="form-control" placeholder="syarat">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Kota</label>
				<div class="col-md-10">
					<input type="text" ng-model="temp_donasi.kota" class="form-control" placeholder="kota">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<button ng-click="simpan_donasi()" class="btn btn-success">Simpan</button>
					<a href="#/donasi" class="btn btn-warning">Kembali</a>
					<p>*) Wajib diisi</p>
					<br><br>
					<p ng-show="is_saving"><i class="fa fa-spinner fa-pulse fa-2x"></i> Loading...</p>
				</div>
			</div>
		</form>
	</div>
</div>