<div class="row">
	<div class="col-md-12">
		<h1 class="text-center" style="margin-bottom: 40px">Tambah Donasi</h1>

		<form class="form-horizontal col-md-6">
			<div class="form-group" style="border-bottom: 1px solid #222222">
				<h2>Data Donatur</h2>
			</div>

			<!-- SELECT -->
			<div ng-show="!new_donatur">

			<div class="form-group">
				<label class="control-label col-md-2">Donatur</label>
				<div class="col-md-10">
					<select ng-model="temp_donasi.id_donatur" class="form-control">
						<option value="">- Pilih Donatur -</option>
						<option ng-repeat="donatur in donaturs" value="{{donatur.id}}">{{donatur.nama}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<button class="btn btn-primary" ng-click="new_donatur = true">Donatur Baru</button>
				</div>
			</div>

			</div>

			<div ng-show="new_donatur">
			<div class="form-group">
				<label class="control-label col-md-2">Jenis</label>
				<div class="col-md-10">
					<select ng-model="jenis_lv_1" ng-change="fresh_level1();" class="form-control">
						<option value="">- Pilih Jenis -</option>
						<option value="Personal">Personal</option>
						<option value="Alumni">Alumni</option>
						<option value="Organisasi">Organisasi</option>
					</select>
				</div>
			</div>
			<div ng-show="(jenis_lv_1 == 'Alumni')" class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<select ng-change="fresh_level2();" ng-model="jenis_lv_2" class="form-control">
						<option value="">- Pilih Jenis Alumni -</option>
						<option value="Individu">Individu</option>
						<option value="Program Studi">Program Studi</option>
						<option value="Satu ITB">Satu ITB</option>
					</select>
				</div>
			</div>
			<div ng-show="(jenis_lv_1 == 'Organisasi')" class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<select ng-model="jenis_lv_2" class="form-control">
						<option value="">- Pilih Jenis Organisasi -</option>
						<option value="ITB">ITB</option>
						<option value="Non-ITB">Non-ITB</option>
					</select>
				</div>
			</div>

			<!-- ISIAN -->
			<div ng-show="((jenis_lv_1 != '')&&(jenis_lv_2 != '')&&(jenis_lv_2 != 'Satu ITB'))||(jenis_lv_1 == 'Personal')" class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<input type="text" ng-model="nama" class="form-control" placeholder="nama {{get_nama();}}">
				</div>
			</div>
			<div ng-show="(jenis_lv_1 == 'Alumni')&&(jenis_lv_2 != '')" class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<input ng-model="angkatan" type="text" class="form-control" placeholder="angkatan">
				</div>
			</div>
			<div ng-show="((jenis_lv_1=='Organisasi')&&(jenis_lv_2 != ''))||((jenis_lv_1=='Alumni')&&(jenis_lv_2 != 'Individu')&&(jenis_lv_2 != ''))" class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<input type="text" ng-model="temp_donatur.nama_wakil" class="form-control" placeholder="nama perwakilan">
				</div>
			</div>

			<!-- HIDDEN -->
			<div class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<input type="text" class="form-control" name="jenis" placeholder="jenis" value="{{jenis_lv_1+' '+jenis_lv_2}}" readonly>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<input type="text" class="form-control" name="nama" placeholder="nama final" value="{{nama+' '+angkatan}}" readonly>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<button class="btn btn-success" ng-click="simpan_donatur()">Simpan</button>
					<button class="btn btn-warning" ng-click="new_donatur = false">Batal</button>
				</div>
			</div>
			</div>

		</form>

		<form class="form-horizontal col-md-6">

			<div class="form-group" style="border-bottom: 1px solid #222222">
				<h2>Data Donasi</h2>
			</div>
			<div ng-show="false" class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<input type="text" value="{{temp_donasi.id_donatur}}" class="form-control" readonly>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Tanggal</label>
				<div class="col-md-10">
					<input type="date" ng-model="temp_donasi.tanggal" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Jml. Donasi</label>
				<div class="col-md-10">
					<input type="text" ng-model="temp_donasi.nominal" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Termin</label>
				<div class="col-md-10">
					<input type="text" ng-model="temp_donasi.termin" class="form-control" placeholder="dicicil berapa kali">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Sistem Donasi</label>
				<div class="col-md-10">
					<select ng-model="temp_donasi.channel" class="form-control">
						<option value="">- Pilih Sistem Donasi -</option>
						<option value="Cash">Cash</option>
						<option value="Non-cash">Non-cash</option>
						<option value="Cek">Cek</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Jenis</label>
				<div class="col-md-10">
					<div class="radio">
						<label>
							<input type="radio" ng-model="temp_donasi.jenis" name="jenis" value="Dana Lestari Tidak Bersyarat" checked> Dana Lestari Tidak Bersyarat
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" ng-model="temp_donasi.jenis" name="jenis" value="Dana Lestari Bersyarat"> Dana Lestari Bersyarat
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" ng-model="temp_donasi.jenis" name="jenis" value="Donasi Bersyarat"> Donasi Bersyarat
						</label>
					</div>
				</div>
			</div>
			<div ng-show="(temp_donasi.jenis == 'Dana Lestari Bersyarat') || (temp_donasi.jenis == 'Donasi Bersyarat')" class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<input type="text" ng-model="temp_donasi.syarat" class="form-control" placeholder="syarat">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Kota</label>
				<div class="col-md-10">
					<input type="text" ng-model="temp_donasi.kota" class="form-control" placeholder="kota">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<button ng-click="simpan_donasi()" class="btn btn-success">Simpan</button>
					<a href="#/donasi" class="btn btn-warning">Kembali</a>
				</div>
			</div>
		</form>
	</div>
</div>